.bots_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 15px;
}
.bot_card {
  background: #1b263b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.active_bot {
  background: radial-gradient(
    circle,
    rgba(30, 50, 80, 0.6) 0%,
    rgb(44, 79, 124) 100%
  );
  box-shadow: 0 0 15px rgba(30, 50, 80, 0.6), 0 0 30px rgba(71, 112, 173, 0.4);
}
.bot_icon {
  margin: 0 auto;
  background-size: contain;
  width: 90px;
  height: 90px;
}
.bot_name {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}
.bot_profit {
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 450px) {
  .bots_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
