.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0d1b2a;
  padding: 10px 0;
  width: 100%;
}
.nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 0.3s;
}

.nav_item:hover,
.nav_item.active {
  color: white;
}

.label {
  font-size: 12px;
  margin-top: 5px;
}
.badge {
  position: absolute;
  top: -2px;
  right: -5px;
  background: orange;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
