* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.yellow_bot {
  background-image: url("./assets/yellow.png");
}
.white_bot {
  background-image: url("./assets/blueLight_cropped.png");
}
.green_bot {
  background-image: url("./assets/green_cropped.png");
}
.red_bot {
  background-image: url("./assets/red_cropped.png");
}
.blue_bot {
  background-image: url("./assets/blue_cropped.png");
}
.orange_bot {
  background-image: url("./assets/orange_cropped.png");
}

.positive {
  color: #2ecc71;
}
.negative {
  color: #e74c3c;
}
